.registerMain {
    background-color:var(--bac);
    display: flex;
    justify-content: center;
   
	width: 100wh;
	height: 100vh;
	
	
	form {
		background-color: white;
		
		padding: 1em;
		
		display: flex;
		flex-direction: column;
		
		width: 35em;
		height: fit-content;
		
		
		.titulo {
			text-align: center;
		}
		
		
		.boxButtons {
			display: flex;
			width: 100%;
			
			.btn {
				margin-left: 0.5em;
				margin-right: 0.5em;
				flex-grow: 0.5;
			}
			
		}
		
	}
	
}
