
.searchMain {
    // background-color:var(--bac);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	width: 100wh;
	height: 100vh;
	
	margin: 0 10%;
	margin-top: 2em;
	
	
	.header {
		
		background: white;
		padding: 1em;
		
		margin-bottom: 0.5em;
			
		display: flex;
		justify-content: center;
		
	}
	
	
	
	.body {
		display: flex;
		flex-direction: row;
		
		
		.filters {
			
			background: white;
			padding: 1em;
			
			margin-right: 0.5em;
			
			display: flex;
			flex-direction: column;
			
			width: 30%;
			
			
			.order {
				display: flex;
				flex-direction: column;
			}
			
		}
		
		.results {
			
			display: flex;
			flex-direction: column;
			
			width: 70%;
			
		}
			
		
	}
	
	
	
	
}
