
header {
	
	background: var(--colBla);
	
	
	.logo {
		display: flex;
		flex-direction: row;
		
		align-items: center;
		
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		flex: 0;
	}
	
	
	.centro {
		display: flex;
		flex-direction: row;
		
		width: 10em;
		justify-content: center;
	}
	
	
	.fin {
		display: flex;
		flex-direction: row;
		
		justify-content: flex-end;
	}
	
}



/* --------------------------
	IMG
-------------------------- */

header .logo {
	padding: 0 0.5em;
	
	background: none;
}

header .logo img {
	height: 3em;
	width: 3em;
	
	min-height: 2.4em;
	min-width: 2.4em;
	
	cursor: pointer;
	background: none;
}


.cajaBusqueda {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	align-items: center;
}

.cajaBusqueda input {
	width: 5em;
}

