
header {
	
	display: flex;
	flex-direction: row;
	
	align-items: center;
	
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	flex: 0;
	
	background: var(--colBla);
	
}



/* --------------------------
	IMG
-------------------------- */

header .logo {
	padding: 0 0.5em;
	
	background: none;
}

header .logo img {
	height: 3em;
	width: 3em;
	
	min-height: 2.4em;
	min-width: 2.4em;
	
	cursor: pointer;
	background: none;
}


.cajaBusqueda {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	align-items: center;
}

.cajaBusqueda input {
	width: 5em;
}

