
.resultCard {
				
	background: white;
	cursor: pointer;
	
	transition: box-shadow .3s ease;
	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;		
	
	
	.col1 {
		
		padding: 0 1.5em;
		
		.image {
			// padding: 1.5em;
		}
		
	}
	
	.col2 {
		
		.title {
			font-size: 1.7em;
			font-weight: bold;
			margin: 0;
		}
		
		.companyName {
			font-size: 1.0em;
			font-weight: bold;
			color: var(--colAzuCla);
			line-height: 1.5em;
		}
		
		.offerInfo {
			color: var(--colGri);
			font-size: 0.9em;
		}
		
		.description {
			font-size: 1.1em;
			
			// Limite a 2 lineas
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			line-height: 1em;     /* fallback */
			max-height: 2em;      /* fallback */
			-webkit-line-clamp: 2; /* number of lines to show */
			-webkit-box-orient: vertical;
			
		}
		
	}

};

.resultCard:hover {
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04), 0 1px 16px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.08)
}
