:root {
    
    /* Colors */
    --colVer: rgb(11, 226, 51);
    --colRoj: rgb(235, 0, 43);
    --colRojCla: rgb(255, 55, 55);
    --colAzu: rgb(55, 55, 248);
    --colAzuCla: rgb(30, 165, 255);
    --colAma: rgb(255, 255, 28);
    --colNarCla: rgb(255, 197, 8);
	--colNar: #F9AA33;
	--colNeg: rgb(22, 22, 22);
	--colBla: rgb(255, 255, 255);
    --colGri: rgb(100, 100, 100);
    --colGriCla: rgb(153, 153, 153);
    
    /*Theme*/
    --bac:rgb(242,242,242);
    --card-bac: rgb(255,255,255);
    --pri: #6105c8;
    --priVar: #6d07e2;
    --sec: rgb(0, 4, 255);
    --secVar: red;
    
    
    --err: var(--colRoj);
    --suc: var(--colVer);
    --onPri: var(--pri0);
    --onSec: var(--pri0);
    --onBac: var(--pri9);
    --onSur: var(--pri9);
    --onErr: var(--pri0);
	--onSuc: var(--pri9);
	
}



/* Generales */
* {
    margin: 0;
    padding: 0;
    
	font-family: 'Hind', sans-serif;
}

html {
	font-size: 15px;
	
}



/* Estados */
.br { border-radius: 3px }
.bs { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) }
.bss {box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04), 0 1px 16px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.08)}

.hide {
	visibility: hidden;
	display: none;
}



/* Flex */
.flex-dir-r {
	display: flex;
	flex-direction: row;
}
.flex-dir-c {
	display: flex;
	flex-direction: column;
}

.jcc {justify-content: center}
.jcfs {justify-content: flex-start}
.jcfe {justify-content: flex-end}

.aic {align-items: center}
.aifs {align-items: flex-start}
.aife {align-items: flex-end}

.wft {width: fit-content}



/* Padding */
.pt1 { padding-top: 0.3em !important; }
.pt2 { padding-top: 0.5em !important; }
.pt3 { padding-top: 1em !important; }
.pt4 { padding-top: 1.5em !important; }
.pt5 { padding-top: 2em !important; }

.pr1 { padding-right: 0.3em !important; }
.pr2 { padding-right: 0.5em !important; }
.pr3 { padding-right: 1em !important; }
.pr4 { padding-right: 1.5em !important; }
.pr5 { padding-right: 2em !important; }

.pb1 { padding-bottom: 0.3em !important; }
.pb2 { padding-bottom: 0.5em !important; }
.pb3 { padding-bottom: 1em !important; }
.pb4 { padding-bottom: 1.5em !important; }
.pb5 { padding-bottom: 2em !important; }

.pl1 { padding-left: 0.3em !important; }
.pl2 { padding-left: 0.5em !important; }
.pl3 { padding-left: 1em !important; }
.pl4 { padding-left: 1.5em !important; }
.pl5 { padding-left: 2em !important; }

.p1 { padding: 0.3em !important; };
.p2 { padding: 0.5em !important; };
.p3 { padding: 1em !important; };
.p4 { padding: 1.5em !important; };
.p5 { padding: 2em !important; };



/* Margin */
.mt1 { margin-top: 0.3em !important; }
.mt2 { margin-top: 0.5em !important; }
.mt3 { margin-top: 1em !important;}
.mt4 { margin-top: 1.5em !important; }
.mt5 { margin-top: 2em !important; }

.mr1 { margin-right: 0.3em !important; }
.mr2 { margin-right: 0.5em !important; }
.mr3 { margin-right: 1em !important; }
.mr4 { margin-right: 1.5em !important; }
.mr5 { margin-right: 2em !important; }

.mb1 { margin-bottom: 0.3em !important; }
.mb2 { margin-bottom: 0.5em !important; }
.mb3 { margin-bottom: 1em !important; }
.mb4 { margin-bottom: 1.5em !important; }
.mb5 { margin-bottom: 2em !important; }

.ml1 { margin-left: 0.3em !important; }
.ml2 { margin-left: 0.5em !important; }
.ml3 { margin-left: 1em !important; }
.ml4 { margin-left: 1.5em !important; }
.ml5 { margin-left: 2em !important; }

.m1 { margin: 0.3em !important; };
.m2 { margin: 0.5em !important; };
.m3 { margin: 1em !important; };
.m4 { margin: 1.5em !important; };
.m5 { margin: 2em !important; };



.error {
	color: #f44336 !important;
	font-size: 0.75rem;
}
.success {
	color: var(--colVer) !important;
	font-size: 0.75rem;
}
.label {
	color: var(--colGri) !important;
	margin: 0;
	font-size: 0.9em;
}



/*
	Template:
	
	<div className="main">
		<div className="card">
			<div className="cardHeader">
				<h1 className="cardTitle"> Titulo </h1>
			</div>
			<div className="cardBody">
				body
			</div>
		</div>
	</div>
	
*/
.main {
    background-color: var(--pri1);
    display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;

	height: fit-content;
	width: fit-content;
	
	padding: 2em;
	
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: var(--pri0);
}
.cardHover {
	display: flex;
	flex-direction: column;

	height: fit-content;
	width: fit-content;
	
	padding: 2em;
	
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: var(--pri0);	
}

.cardHover:hover {
	transform: translateY(-0.4em);
}



.cardHeader {
	display: flex;
	justify-content: center;
	height: fit-content;
	margin-bottom: 1em;
}

.card .cardHeader .image {
	width: 3em;
	position: absolute;
}

.cardTitle {
	height: 1em;
}

.cardBody {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardBody input {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	background: var(--pri1);
	border-style: solid;
	border-width: 0.5px;
	border-color: var(--pri9);
}

